{% extends "admin.html" %}
{% block titulo %} Juegos {% endblock %}
{% block contenido %}

<section class="section">
    <div class="contenedor">
        <div class="elemento">

            <img id="imajuego" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png" alt="">

            <p class="nombp">CAll of duty black ops 4</p>
            <p class="nombp">$55.000</p>

            <button class="comp">Comprar</button>

        </div>
        <div class="elemento">

            <img id="imajuego" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png" alt="">

            <p class="nombp">CAll of duty black ops 4</p>
            <p class="nombp">$55.000</p>

            <button class="comp">Comprar</button>     

        </div>
        <div class="elemento">

            <img id="imajuego" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png" alt="">

            <p class="nombp">CAll of duty black ops 4</p>
            <p class="nombp">$55.000</p>

            <button class="comp">Comprar</button>

        </div>
        <div class="elemento">

            <img id="imajuego" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png" alt="">

            <p class="nombp">CAll of duty black ops 4</p>
            <p class="nombp">$55.000</p>

            <button class="comp">Comprar</button>
        </div>
        <div class="elemento">

            <img id="imajuego" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png" alt="">

            <p class="nombp">CAll of duty black ops 4</p>
            <p class="nombp">$55.000</p>

            <button class="comp">Comprar</button>
        </div>
    </div>
</section>
{% endblock %}